<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Excluir Professor</title>
</head>
<body>
    <h1>Excluir Professor</h1>
    <form method="POST" action="{{ url_for('excluir_professor') }}">
        <label for="professor_id">Selecione o Professor:</label>
        <select id="professor_id" name="professor_id" required>
            {% for professor in professores %}
                <option value="{{ professor[0] }}">{{ professor[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn">Excluir</button>
    </form>

    <a href="{{ url_for('index') }}" class="btn">Voltar à Janela Principal</a>
</body>
</html>
